<div class="andydiv">
  <img class="andy" src="/assets/andy.jpg" alt="Andy">
  <div class="contactinfo" *ngIf="!editingMode">
    <button class="editcontact" (click)="toggleEditing()">Edit</button> <br>
    <span>{{ phoneNumber }}</span> <br>
    <span>{{ email }}</span> <br>
    <span>{{ instaHandle }}</span>
  </div>

  <div class="contactinfo" *ngIf="editingMode">
    <button class="editcontact" (click)="saveChanges()">Save</button> <br>
    <input [(ngModel)]="phoneNumber" placeholder="Enter Phone Number"><br>
    <input [(ngModel)]="email" placeholder="Enter Email"><br>
    <input [(ngModel)]="instaHandle" placeholder="Enter Twitter Handle">
  </div>
</div>
<div>
  <span>.</span>
</div>








