<div class="andydiv">
  <img class="andy" src="/assets/andy.jpg" alt="Andy">
  <div class="contactinfo" *ngIf="!editingMode" >
    <button class="editcontact" (click)="toggleEditing()" *ngIf="isAdminLoggedIn" >Edit</button> <br>
    <div>
      <img class="walogo" src="/assets/walogo.jpg" style="padding-right: 8px;" />
      <span style="font-size: 20px;">{{ contactData.whatsapp }}</span> <br />
    </div>
    <br />
    <div>
      <img class="gmlogo" src="/assets/gmlogo.jpg" style="padding-right: 8px;" />
      <span style="font-size: 20px;">{{ contactData.email }}</span> <br />
    </div>
    <br />
    <div>
      <img class="iglogo" src="/assets/iglogo.jpg" style="padding-right: 8px;" />
      <span style="font-size: 20px;">{{ contactData.instagram }}</span>
    </div>
  </div>

  <div class="contactinfo" *ngIf="editingMode">
    <button class="editcontact" (click)="saveChanges()">Save</button> <br>
    <input [(ngModel)]="contactData.whatsapp" placeholder="Enter Phone Number" /><br />
    <input [(ngModel)]="contactData.email" placeholder="Enter Email" /><br />
    <input [(ngModel)]="contactData.instagram" placeholder="Enter Instagram Handle" />
  </div>
</div>
<div>
  <span>.</span>
</div>







