<input type="file" id="img" style="display:none" (change)="onSelect($event)">
<button (click)="selectImage()">Upload Image</button>

<mat-grid-list cols="2" rowHeight="500px" class="cinemtografia-grid" gutterSize="150">
  <mat-grid-tile *ngFor="let item of imageArray; let i = index" style="height: 600px;" style="width: 700px">
    <div class="content-container">
      <div class="caption-actions">
          <button mat-icon-button (click)="openCaptionDialog(i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteTheImage(item.url)">Delete image</button>
        </div>
      <img [src]="item.url" alt="cinemtografia" class="images">

      <div class="caption-container">
        <div>
          <span class="caption">{{ item.caption }}</span>
        </div>
        <div *ngIf="captions[i]">
          <span class="caption">{{ captions[i].caption }}</span>
        </div>
      </div>

    </div>
  </mat-grid-tile>
</mat-grid-list>











