<div  *ngIf="isAdminLoggedIn" >
<input type="file" id="img" style="display:none" (change)="onSelect($event)">
<button (click)="selectImage()">Upload Image</button>
</div>
<mat-grid-list cols="2" [cols]="gridCols" rowHeight="500px" class="retratos-grid" gutterSize="150">
  <mat-grid-tile *ngFor="let item of retratosImageArray; let i = index" style="height: 600px;" style="width: 700px">
    <div class="content-container">
      <div class="caption-actions" *ngIf="isAdminLoggedIn">
        <button mat-icon-button (click)="openRetratosCaptionDialog(i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deleteTheImage(item.url)">Delete image</button>
      </div>
      <img [src]="item.url" alt="retratos" class="images">

      <div class="caption-container">
        <div>
          <span class="caption">{{ item.caption }}</span>
        </div>
        <div *ngIf="retratosCaptions[i]">
          <span class="caption">{{ retratosCaptions[i].retratosCaption }}</span>
        </div>
      </div>

    </div>
  </mat-grid-tile>
</mat-grid-list>
