<input type="file" id="img" style="display:none" (change)="onSelect($event)">
<button (click)="selectImage()">Upload Image</button>

<mat-grid-list cols="2" rowHeight="650px" class="retratos-grid" gutterSize="50">
  <mat-grid-tile *ngFor="let item of imageArray; let i = index" style="height: 300px;">
    <div class="content-container">
      <div class="caption-actions">
          <button mat-icon-button (click)="openCaptionDialog(i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteImage(i)">Delete image</button>
        </div>
      <img [src]="item.url" alt="retratos" class="images">

      <div class="caption-container">
        <div>
          <span>{{ item.caption }}</span>
        </div>

      </div>

    </div>
  </mat-grid-tile>
</mat-grid-list>
