body {
  background-color: #2C2C2C;
  color: #ffffff; /* Set text color to white, or adjust as needed */
  font-family: 'Agency FB', sans-serif;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
